<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sakura"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_sakura_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenWrtMGR"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OpenWrtMGR"
            android:windowSoftInputMode="adjustResize">
            <!-- launcher provided by activity-alias -->
        </activity>

        <activity-alias
            android:name=".MainAliasSakura"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sakura"
            android:roundIcon="@mipmap/ic_launcher_sakura_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainAliasMint"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mint"
            android:roundIcon="@mipmap/ic_launcher_mint_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainAliasOcean"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ocean"
            android:roundIcon="@mipmap/ic_launcher_ocean_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainAliasMinimal"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_minimal"
            android:roundIcon="@mipmap/ic_launcher_minimal_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainAliasCustom"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom"
            android:roundIcon="@mipmap/ic_launcher_custom_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
